.chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.chat-app-bar {
  flex-grow: 1;
}

.settings-icon {
  margin-left: 8px;
}

/* This style might not be necessary if you're using Box components for layout */
.chat-content {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

/* Additional styles for consistent sizing and scrolling */
.group-list, .member-list {
  overflow-y: auto;
}

.chat-room {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.no-room-selected {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}